body {
    font-family: 'Roboto', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif !important;
}
.btn.btn-primary {
    background-color: #3f8744;
    border-color: #3f8744;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
    background-color: rgba(63, 135, 68, .7) !important;
    border-color: rgba(63, 135, 68, .7) !important;
}
button:focus {
    outline: none;
}
footer {
    background-color: #3f8744;
}
header {
    position: fixed;
    width: 100%;
    z-index: 990;
    top: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0);
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.nav-item {
    margin-bottom: 0;
}
.nav-link {
    color: #000 !important;
    font-weight: 600;
}
.navbar-brand img {
    margin-bottom: 0;
}
.bg-splash {
    position: relative;
    max-height: 600px;
    padding: 70px 0 85px 0;
    background-image: url('../images/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.splash-img {
    width: 100%;
}
.bg-splash-content {
    padding-top: 70px;
}
.bg-splash-content h1, .bg-splash-content .h1 {
    font-size: 26px;
}
.volunteer {
    padding: 70px 0;
}
.volunteer img {
    width: 100%;
}
.volunteer-content {
    width: 100%;
}
.volunteer-content h2 {
    font-size: 30px;
}
.volunteer-content p {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
.donate {
    padding: 70px 0;
}
.donate-content h2 {
    padding: 20px 0;
    font-size: 30px;
    font-weight: 700;
}
.donate-content p {
    font-size: 16px;
    color: #000 !important;
}
.contact {
    margin-bottom: 50px;
}
.contact-card {
    max-width: 760px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;
    background-color: #3f8744;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.contact-card h1 {
    font-size: 24px;
}
.contact-card p {
    font-weight: 700;
}
.help {
    padding: 70px 0;
    background-color: #f5f5f5;
}
.help h1 {
    font-size: 30px;
    font-weight: 700;
    padding: 0 10px;
}
.help h3 {
    font-size: 20px;
}
.help p {
    font-size: 12px;
}

.help .card, .help .card .card-img-top {
    border: none !important;
}
.slider-list {
    cursor: default !important;
}
.slider-slide:focus {
    outline: none;
}
.btn.btn-carousel {
    border-radius: 50%;
}
.btn.btn-telegram {
    background-color: #0088cc;
    border-radius: 5px;
}
.btn.btn-primary span {
    font-size: 14px;
    transform: translateY(1px);
}
.btn.btn-telegram:hover, .btn.btn-telegram:focus, .btn.btn-telegram:active {
    background-color: #0088cc !important;
}
.btn.btn-insta {
    background-color: #8a3ab9;
    border-radius: 5px;
}
.btn.btn-insta:hover, .btn.btn-insta:active, .btn.btn-insta:focus {
    background-color: #8a3ab9 !important;
}
.btn.btn-fb {
    background-color: #3b5998 !important;
    border-radius: 5px;
}
.btn.btn-fb:hover, .btn.btn-fb:focus, .btn.btn-fb:active {
    background-color: #3b5998 !important;
}
.footer-nav .footer-nav-links {
    border-top: 1px solid #fff;
}
.footer-nav a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
.narrow-up svg {
    transform: translateY(-2px);
}
.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    opacity: 0;
    -webkit-transition: opacity ease-in-out .3s;
    -moz-transition: opacity ease-in-out .3s;
    -o-transition: opacity ease-in-out .3s;
    transition: opacity ease-in-out .3s;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: default;
    padding: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 9999999;
    display: none;
}
.show.popup {
    display: block;
    opacity: 1;
}
.popup-content {
    max-width: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 50px;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    position: relative;    
}
.show .popup-content {
    transform: translateY(0);
}
.popup-container {
    max-width: 560px;
    padding: 40px 45px;
    margin: 0 auto;
    background-color: #fff;
}
.popup-close {
    display: block;
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    height: 50px;
    background: #000;
    position: fixed;
    display: table;
    z-index: 2;
    right: 0;
    top: 0;
    text-align: right;
    padding-right: 20px;
}
.btn.btn-lang {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.btn.btn-lang img {
    margin-bottom: 0;
    margin-left: 5px;
    vertical-align: top;
}
@media (min-width: 768px) {
    /* .splash-img {
        height: 25vh;
    } */
    .bg-splash {
        max-height: 600px;
    }
    .volunteer img {
        width: 40vw;
    }
    .volunteer-content h2 {
        font-size: 40px;
    }
    .volunteer-content p {
        font-size: 22px;
    }
    .donate-content h2 {
        font-size: 40px;
    }
    .donate-content p {
        font-size: 18px;
    }
    .contact-card p {
        font-size: 16px;
    }
    .help h3 {
        font-size: 25px;
    }
    .help p {
        font-size: 16px;
    }
    .help .card {
        min-height: 750px;
    }
    .contact-card h1 {
        font-size: 24px;
    }
    .btn.btn-primary span {
        display: inline-block;
        transform: translateY(1px);
    }
    .footer-social a {
        display: inline-block;
    }
    .footer-nav .footer-nav-links {
        border-top: none;
    }    
    .popup {
        padding: 0 20px;
    }
    .popup-close {
        display: block;
        padding: 0;
        background-color: transparent;
        outline: none;
        border: none;
        position: fixed;
        right: 30px;
        top: 20px;
        width: 23px;
        height: 23px;
        cursor: pointer;
        -webkit-transition: opacity ease-in-out .3s;
        -moz-transition: opacity ease-in-out .3s;
        -o-transition: opacity ease-in-out .3s;
        transition: opacity ease-in-out .3s;
        z-index: 9;
    }
    .popup-content {
        margin: 65px auto;
        top: 0;
        position: relative;
        left: auto;
        right: auto;
        width: 100%;
        -moz-transform: translateY(30%) scale(.9);
        -ms-transform: translateY(30%) scale(.9);
        -webkit-transform: translateY(30%) scale(.9);
        -o-transform: translateY(30%) scale(.9);
        transform: translateY(30%) scale(.9);
        -webkit-transition: transform ease-in-out .3s;
        -moz-transition: transform ease-in-out .3s;
        -o-transition: transform ease-in-out .3s;
        transition: transform ease-in-out .3s;
    }
}
@media (min-width: 1100px) {
    .bg-splash-content h1, .bg-splash-content .h1 {
        font-size: 50px;
    }
    /* .splash-img {
        height: 85vh;
    } */
    /* .bg-splash {
        height: 100vh;
    } */
    .help h3 {
        font-size: 25px;
    }
    .help p {
        font-size: 16px;
    }
    .help .card {
        min-height: 650px;
    }
    .contact-card p {
        font-size: 18px;
    }
    .contact-card h1 {
        font-size: 24px;
    }
    .btn.btn-lang {
        margin: 0;
    }
    
}